table {
	border-collapse: collapse;
	width: 50%;
}
td {
	text-align: left;
	padding: 8px;
	text-align: center;
	
}
th {
	color: black;
	text-align: center;
	padding: 2px;

}
tr:ntd-child(even) {
	background-color: black;
	
}

.contenedor {
	margin: auto;
	background-color: #EADBFD;
	width: 60%;
	height: auto;
}
h1 {
	color: black;
}
